
header{

    text-transform: uppercase;       
    grid-area:header;
    text-align:justify; 

    background-color:#4e4e55;   
    
    height:100%;
    list-style:none;
    text-decoration:none;  
    
}
.header {

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    justify-content:space-around;
    align-content:center;
    align-items: center;


}



#lupa {
        
    width: 45px;
    height:45px;
    background:url('./icon-search.svg')no-repeat center center ;  
    border:none;
    text-decoration: none;
    text-indent: -150px;
    opacity: .3;
    position: absolute;
    top:7%;
    right:12%;
}
