@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: rgb(94, 94, 102);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
.busca {
  height:20px !important;
}
.container {
    /*
  organização do Grid
  */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 60vh 20vh;
 
    /*
   espaçamentos internos
   grid-gap: 10 10;
  */
    /* #####################################
     Aqui trabalha com areas do template
  */
    grid-template-areas: "header" "main" "footer";
}

@media screen and (min-width: 50vh) {
  .container{
     grid-template-rows: 22vh  210vh 10vh;
    }
 
}
@media screen and (min-width: 75vh) {
  
  .container{
    grid-template-rows: 20vh 210vh 10vh;
   }
}
@media screen and (min-width: 90vh) {
  
  .container{
    grid-template-rows: 20vh 210vh 10vh;
   }
}
@media screen and (min-width: 100vh) {
  
  .container{
    grid-template-rows: 20vh 140vh 10vh;
   }
}


